In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier

In [2]:
cust_features = pd.read_csv("features_data.csv")
cust_balances = pd.read_csv("equity_value_data.csv")
cust_features

,risk_tolerance,investment_experience,liquidity_needs,platform,time_spent,instrument_type_first_traded,first_deposit_amount,time_horizon,user_id
0,high_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,33.129417,stock,40.0,med_time_horizon,895044c23edc821881e87da749c01034
1,med_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,16.573517,stock,200.0,short_time_horizon,458b1d95441ced242949deefe8e4b638
2,med_risk_tolerance,limited_investment_exp,very_important_liq_need,iOS,10.008367,stock,25.0,long_time_horizon,c7936f653d293479e034865db9bb932f
3,med_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,1.031633,stock,100.0,short_time_horizon,b255d4bd6c9ba194d3a350b3e76c6393
4,high_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,8.187250,stock,20.0,long_time_horizon,4a168225e89375b8de605cbc0977ae91
...,...,...,...,...,...,...,...,...,...
5579,high_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,8.339283,stock,300.0,long_time_horizon,03880c726d8a4e5db006afe4119ad974
5580,med_risk_tolerance,limited_investment_exp,somewhat_important_liq_need,iOS,7.241383,stock,100.0,short_time_horizon,ae8315109657f44852b24c6bca4decd6
5581,med_risk_tolerance,no_investment_exp,very_important_liq_need,both,22.967167,stock,50.0,short_time_horizon,f29c174989f9737058fe808fcf264135
5582,med_risk_tolerance,limited_investment_exp,somewhat_important_liq_need,iOS,10.338417,stock,100.0,long_time_horizon,24843497d1de88b2e7233f694436cb3a
5583,high_risk_tolerance,limited_investment_exp,somewhat_important_liq_need,iOS,18.470950,stock,50.0,long_time_horizon,49ee0531ee9dfbce0e7d9afa1c3d86f4

In [3]:
cust_features = cust_features.set_index("user_id").sort_index()
cust_features

,risk_tolerance,investment_experience,liquidity_needs,platform,time_spent,instrument_type_first_traded,first_deposit_amount,time_horizon
user_id,,,,,,,,
0012db34aa7b083f5714e7831195e54d,high_risk_tolerance,limited_investment_exp,very_important_liq_need,both,9.701933,stock,100.0,long_time_horizon
001d6c77dbdb3213cead7673f250bfdc,high_risk_tolerance,limited_investment_exp,very_important_liq_need,iOS,19.568433,etp,1500.0,long_time_horizon
002e4653171ddc61c3cd30603cd7bd3e,high_risk_tolerance,limited_investment_exp,somewhat_important_liq_need,iOS,22.091867,stock,100.0,long_time_horizon
00384fa9be6fdca1b786bae70d78f88f,high_risk_tolerance,no_investment_exp,somewhat_important_liq_need,iOS,108.555350,stock,500.0,short_time_horizon
0042aac295a0d4df88f4b83012778bd4,high_risk_tolerance,good_investment_exp,very_important_liq_need,Android,39.973717,lp,100.0,short_time_horizon
...,...,...,...,...,...,...,...,...
ff9ee08791e20724a86995ab2bc72578,high_risk_tolerance,good_investment_exp,very_important_liq_need,iOS,4.703033,mlp,100.0,short_time_horizon
ffa12d2f97e310910291f9b26fb2318d,high_risk_tolerance,good_investment_exp,somewhat_important_liq_need,Android,6.988433,stock,250.0,long_time_horizon
ffae713096867a32e74f633060667153,med_risk_tolerance,no_investment_exp,very_important_liq_need,Android,8.898000,stock,20.0,med_time_horizon
ffbda9a14e07718e2b21fb03896d21c5,med_risk_tolerance,limited_investment_exp,somewhat_important_liq_need,iOS,34.150567,stock,2.0,long_time_horizon
ffc1e622f3a0b2666f09a6dcb7f27918,med_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,10.058017,stock,20.0,long_time_horizon

In [4]:
cust_balances

                    timestamp  close_equity                           user_id
0        2016-11-16T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
1        2016-11-17T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
2        2016-11-18T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
3        2016-11-21T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
4        2016-11-22T00:00:00Z         48.16  bcef4fa9b0bdf22bcf7deae708decf03
...                       ...           ...                               ...
1119153  2017-08-14T00:00:00Z       2270.71  98580360c4fb5b0ec511cd87f0d429ed
1119154  2017-08-15T00:00:00Z       2275.02  98580360c4fb5b0ec511cd87f0d429ed
1119155  2017-08-16T00:00:00Z       2282.03  98580360c4fb5b0ec511cd87f0d429ed
1119156  2017-08-17T00:00:00Z       2237.45  98580360c4fb5b0ec511cd87f0d429ed
1119157  2017-08-18T00:00:00Z       2227.35  98580360c4fb5b0ec511cd87f0d429ed

[1119158 rows x 3 columns]

In [5]:
cust_balances.timestamp = cust_balances.timestamp.astype("datetime64[ns]")
end_date = cust_balances.timestamp.iloc[-1]
cust_balances = cust_balances.sort_values(by=["user_id", "timestamp"])
cust_balances.head(11)

        timestamp  close_equity                           user_id
505994 2016-08-18     1211.6055  0012db34aa7b083f5714e7831195e54d
505995 2016-08-19     1173.5640  0012db34aa7b083f5714e7831195e54d
505996 2016-08-22     1253.0597  0012db34aa7b083f5714e7831195e54d
505997 2016-08-23     1252.9050  0012db34aa7b083f5714e7831195e54d
505998 2016-08-24     1262.1360  0012db34aa7b083f5714e7831195e54d
505999 2016-08-25     1226.4250  0012db34aa7b083f5714e7831195e54d
506000 2016-08-26     1227.9610  0012db34aa7b083f5714e7831195e54d
506001 2016-08-29     1250.9700  0012db34aa7b083f5714e7831195e54d
506002 2016-08-30     1248.1000  0012db34aa7b083f5714e7831195e54d
506003 2016-08-31     1241.5560  0012db34aa7b083f5714e7831195e54d
506004 2016-09-01     1227.9578  0012db34aa7b083f5714e7831195e54d

In [6]:
balance_stats = cust_balances[["user_id", "close_equity"]].groupby("user_id").agg(["count", "mean", "std", "min", "max"]).sort_index()
balance_stats.columns = balance_stats.columns.to_flat_index()
balance_stats

,"(close_equity, count)","(close_equity, mean)","(close_equity, std)","(close_equity, min)","(close_equity, max)"
user_id,,,,,
0012db34aa7b083f5714e7831195e54d,252,609.100576,191.975127,355.3723,1262.1360
001d6c77dbdb3213cead7673f250bfdc,252,3307.140361,449.330147,2693.0400,4030.4577
002e4653171ddc61c3cd30603cd7bd3e,128,117.203750,6.480472,100.0000,134.3800
00384fa9be6fdca1b786bae70d78f88f,124,462.786815,24.522490,414.4200,518.0000
0042aac295a0d4df88f4b83012778bd4,252,1561.098745,933.690027,123.5265,2559.1550
...,...,...,...,...,...
ff9ee08791e20724a86995ab2bc72578,252,92.444723,47.137114,57.7617,259.4046
ffa12d2f97e310910291f9b26fb2318d,252,6064.207556,1577.089485,2661.6500,8486.5050
ffae713096867a32e74f633060667153,224,20.166519,7.194193,16.5600,37.5200
ffbda9a14e07718e2b21fb03896d21c5,129,337.930856,191.038205,25.5900,868.4300
ffc1e622f3a0b2666f09a6dcb7f27918,206,1894.829782,512.398605,13.3000,3227.5300

In [7]:
set(cust_features.index) - set(balance_stats.index)

set()

In [8]:
cust_balances["time_gap"] = cust_balances.timestamp.diff(-1).dt.days.fillna(0).astype("int64") * -1
cust_balances

        timestamp  close_equity                           user_id  time_gap
505994 2016-08-18     1211.6055  0012db34aa7b083f5714e7831195e54d         1
505995 2016-08-19     1173.5640  0012db34aa7b083f5714e7831195e54d         3
505996 2016-08-22     1253.0597  0012db34aa7b083f5714e7831195e54d         1
505997 2016-08-23     1252.9050  0012db34aa7b083f5714e7831195e54d         1
505998 2016-08-24     1262.1360  0012db34aa7b083f5714e7831195e54d         1
...           ...           ...                               ...       ...
675754 2017-08-14     2156.2400  ffc1e622f3a0b2666f09a6dcb7f27918         1
675755 2017-08-15     2134.7100  ffc1e622f3a0b2666f09a6dcb7f27918         1
675756 2017-08-16     2152.1200  ffc1e622f3a0b2666f09a6dcb7f27918         1
675757 2017-08-17     2042.2800  ffc1e622f3a0b2666f09a6dcb7f27918         1
675758 2017-08-18     2037.4400  ffc1e622f3a0b2666f09a6dcb7f27918         0

[1119158 rows x 4 columns]

In [9]:
cust_balances[cust_balances.time_gap < 0]

         timestamp  close_equity                           user_id  time_gap
506245  2017-08-17      487.7885  0012db34aa7b083f5714e7831195e54d      -364
417392  2017-08-17     3981.3350  001d6c77dbdb3213cead7673f250bfdc      -182
1010028 2017-08-18      134.3800  002e4653171ddc61c3cd30603cd7bd3e      -176
629750  2017-08-18      426.2400  00384fa9be6fdca1b786bae70d78f88f      -365
417644  2017-08-17     1769.2150  0042aac295a0d4df88f4b83012778bd4      -230
...            ...           ...                               ...       ...
750576  2017-08-18    16790.4700  ff98cbc9633a9255a711d02ebc1e8294      -365
455492  2017-08-17       62.1951  ff9ee08791e20724a86995ab2bc72578      -365
226399  2017-08-16     7448.1895  ffa12d2f97e310910291f9b26fb2318d      -322
341092  2017-08-17       32.9300  ffae713096867a32e74f633060667153      -183
1096575 2017-08-18       25.5900  ffbda9a14e07718e2b21fb03896d21c5      -298

[5558 rows x 4 columns]

In [10]:
cust_balances.time_gap = cust_balances.apply(lambda x: (end_date - x.timestamp).days if x.time_gap < 0 else x.time_gap, axis=1)

In [11]:
cust_churns = cust_balances[cust_balances.time_gap >= 28]
cust_churns

         timestamp  close_equity                           user_id  time_gap
152685  2017-02-27       59.4500  00440034cc4152bfb01b30f5c381c4e3        80
959321  2017-04-28       25.1400  004aab1640f3a04b87b1f404fb4c018d       112
1042837 2017-07-10      100.9800  004ea9d7662aa8dc840bbff212cfa4b8        39
293708  2016-11-04      178.8797  005d630a68b4ab3a2f4cd49d9a87c50d       123
161451  2017-05-19     1143.6600  00f89f56f25989b0bb7ea05bac2dccc4        91
...            ...           ...                               ...       ...
955338  2017-04-03      575.3300  ff0ae95285c43e3a5af84860bffaa544        81
857073  2016-09-29     1001.2500  ff377467d4e28b425266a8b2c8b2f5c7        60
447016  2017-03-06       16.8000  ff6d64d75fa2ffd703dabf66b7b86b99       165
29165   2017-01-12       17.1700  ff7610fdd7ac5cbfa0b17aca53af5db4       172
750571  2017-06-02    12184.1700  ff98cbc9633a9255a711d02ebc1e8294        73

[1133 rows x 4 columns]

In [12]:
cust_churn_count = cust_churns.user_id.value_counts()
cust_churn_count

50b846ab40078ae27b0bf7d6004c9a28    3
9121bbdb811bcb10de9b6f85b2b5e458    3
14b44db6ff01a66a284d6d4a62975706    3
4db4db8398496203a7def94692739f86    3
ec781fbc977db5d88af48e5304d5da41    3
                                   ..
57d9b22067d7b0312f0cd6ba73d44743    1
5813f69ba4430325260e394908a937ab    1
582e57386c12abb201c6d620786800d3    1
58756af245e132e09b91e4acfbcb8dd1    1
ff98cbc9633a9255a711d02ebc1e8294    1
Name: user_id, Length: 1003, dtype: int64

In [13]:
cust_features["churned"] = cust_features.apply(lambda x: 1 if x.name in cust_churn_count.index else 0, axis=1)
cust_features[cust_features.churned == 1]

,risk_tolerance,investment_experience,liquidity_needs,platform,time_spent,instrument_type_first_traded,first_deposit_amount,time_horizon,churned
user_id,,,,,,,,,
00440034cc4152bfb01b30f5c381c4e3,med_risk_tolerance,no_investment_exp,very_important_liq_need,Android,33.999300,stock,10.00,short_time_horizon,1
004aab1640f3a04b87b1f404fb4c018d,high_risk_tolerance,limited_investment_exp,very_important_liq_need,iOS,24.611400,stock,7.97,long_time_horizon,1
004ea9d7662aa8dc840bbff212cfa4b8,med_risk_tolerance,no_investment_exp,somewhat_important_liq_need,iOS,1.172783,stock,100.00,short_time_horizon,1
005d630a68b4ab3a2f4cd49d9a87c50d,low_risk_tolerance,no_investment_exp,very_important_liq_need,Android,17.262833,stock,200.00,short_time_horizon,1
00f89f56f25989b0bb7ea05bac2dccc4,med_risk_tolerance,good_investment_exp,very_important_liq_need,both,2.407350,stock,500.00,short_time_horizon,1
...,...,...,...,...,...,...,...,...,...
ff0ae95285c43e3a5af84860bffaa544,high_risk_tolerance,limited_investment_exp,very_important_liq_need,iOS,209.884233,stock,5.00,long_time_horizon,1
ff377467d4e28b425266a8b2c8b2f5c7,high_risk_tolerance,limited_investment_exp,not_important_liq_need,iOS,19.504833,etp,1000.00,med_time_horizon,1
ff6d64d75fa2ffd703dabf66b7b86b99,low_risk_tolerance,limited_investment_exp,very_important_liq_need,iOS,54.976167,stock,1.00,short_time_horizon,1
ff7610fdd7ac5cbfa0b17aca53af5db4,med_risk_tolerance,no_investment_exp,somewhat_important_liq_need,iOS,14.984283,stock,400.00,short_time_horizon,1
ff98cbc9633a9255a711d02ebc1e8294,high_risk_tolerance,good_investment_exp,very_important_liq_need,both,33.277817,stock,3930.00,long_time_horizon,1

In [14]:
continuous_features = cust_features[["time_spent", "first_deposit_amount"]].merge(balance_stats, left_index=True, right_index=True)
continuous_features

,time_spent,first_deposit_amount,"(close_equity, count)","(close_equity, mean)","(close_equity, std)","(close_equity, min)","(close_equity, max)"
user_id,,,,,,,
0012db34aa7b083f5714e7831195e54d,9.701933,100.0,252,609.100576,191.975127,355.3723,1262.1360
001d6c77dbdb3213cead7673f250bfdc,19.568433,1500.0,252,3307.140361,449.330147,2693.0400,4030.4577
002e4653171ddc61c3cd30603cd7bd3e,22.091867,100.0,128,117.203750,6.480472,100.0000,134.3800
00384fa9be6fdca1b786bae70d78f88f,108.555350,500.0,124,462.786815,24.522490,414.4200,518.0000
0042aac295a0d4df88f4b83012778bd4,39.973717,100.0,252,1561.098745,933.690027,123.5265,2559.1550
...,...,...,...,...,...,...,...
ff9ee08791e20724a86995ab2bc72578,4.703033,100.0,252,92.444723,47.137114,57.7617,259.4046
ffa12d2f97e310910291f9b26fb2318d,6.988433,250.0,252,6064.207556,1577.089485,2661.6500,8486.5050
ffae713096867a32e74f633060667153,8.898000,20.0,224,20.166519,7.194193,16.5600,37.5200
ffbda9a14e07718e2b21fb03896d21c5,34.150567,2.0,129,337.930856,191.038205,25.5900,868.4300
ffc1e622f3a0b2666f09a6dcb7f27918,10.058017,20.0,206,1894.829782,512.398605,13.3000,3227.5300

In [15]:
categorical_features = cust_features.drop(["time_spent", "first_deposit_amount", "churned"], axis=1)
categorical_features

,risk_tolerance,investment_experience,liquidity_needs,platform,instrument_type_first_traded,time_horizon
user_id,,,,,,
0012db34aa7b083f5714e7831195e54d,high_risk_tolerance,limited_investment_exp,very_important_liq_need,both,stock,long_time_horizon
001d6c77dbdb3213cead7673f250bfdc,high_risk_tolerance,limited_investment_exp,very_important_liq_need,iOS,etp,long_time_horizon
002e4653171ddc61c3cd30603cd7bd3e,high_risk_tolerance,limited_investment_exp,somewhat_important_liq_need,iOS,stock,long_time_horizon
00384fa9be6fdca1b786bae70d78f88f,high_risk_tolerance,no_investment_exp,somewhat_important_liq_need,iOS,stock,short_time_horizon
0042aac295a0d4df88f4b83012778bd4,high_risk_tolerance,good_investment_exp,very_important_liq_need,Android,lp,short_time_horizon
...,...,...,...,...,...,...
ff9ee08791e20724a86995ab2bc72578,high_risk_tolerance,good_investment_exp,very_important_liq_need,iOS,mlp,short_time_horizon
ffa12d2f97e310910291f9b26fb2318d,high_risk_tolerance,good_investment_exp,somewhat_important_liq_need,Android,stock,long_time_horizon
ffae713096867a32e74f633060667153,med_risk_tolerance,no_investment_exp,very_important_liq_need,Android,stock,med_time_horizon
ffbda9a14e07718e2b21fb03896d21c5,med_risk_tolerance,limited_investment_exp,somewhat_important_liq_need,iOS,stock,long_time_horizon
ffc1e622f3a0b2666f09a6dcb7f27918,med_risk_tolerance,limited_investment_exp,very_important_liq_need,Android,stock,long_time_horizon

In [16]:
X_cont_train, X_cont_test, X_cat_train, X_cat_test, y_train, y_test = train_test_split(continuous_features, categorical_features, cust_features["churned"], test_size=0.2, random_state=42)

In [17]:
ohe = OneHotEncoder(sparse=False)
X_cat_train = ohe.fit_transform(X_cat_train)
X_cat_test = ohe.transform(X_cat_test)
X_cat_train

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 0., 1., ..., 0., 1., 0.],
       [1., 0., 0., ..., 1., 0., 0.],
       ...,
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 1., 0.],
       [1., 0., 0., ..., 0., 0., 1.]])

In [18]:
X_cat_test

array([[1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 1., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.]])